@font-face {
  font-family: 'rubik';
  src: url('../fonts/rubik/Rubik-Regular.ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'rubik';
  src: url('../fonts/rubik/Rubik-Bold.ttf');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'rubik';
  src: url('../fonts/rubik/Rubik-Italic.ttf');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'rubik';
  src: url('../fonts/rubik/Rubik-BoldItalic.ttf');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'compis';
  src: url('../fonts/compis/Compis.woff') format('woff2');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: rubik;
  word-wrap: break-word;
  margin-left: auto;
  margin-right: auto;
  display: grid;
  grid-template-columns: 450px 700px;
  grid-template-rows: 75px 450px 50px;
  justify-content: center;
  height: 100%;
  width: 100%;
  font-size: 16px;
  column-gap: 15px;
  transform: scale(1, 1);
}

.title {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row: 1;
  text-align: center;
}

.left, .right {
  padding: 15px;
  border: 2px solid #000000;
  border-radius: 15px;
  overflow-y: scroll;
  scrollbar-width: thin;
}

.left {
  grid-column: 1;
  grid-row: 2;
}

.right {
  grid-column: 2;
  grid-row: 2;
  overflow-x: scroll;
}

.footer {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row: 3;
  text-align: center;
}

.center {
  text-align: center;
}

input[type="color"] {
  -webkit-appearance: none;
  appearance: none;
  background-color: transparent;
  border: none;
  cursor: pointer;
  width: 50px;
  height: 50px;
  transition: transform .2s;
}

input[type="color"]::-webkit-color-swatch-wrapper {
  padding: 0;
  border: none;
}

input[type="color"]::-webkit-color-swatch {
  border: none;
}

input[type="color"]:focus {
  outline: none;
}

input[type="color"]:hover {
  transform: scale(1.035);
}

pre, code {
  font-family: compis;
  font-size: 12pt;
  line-height: 12pt;
  -webkit-font-smoothing: none;
  -moz-osx-font-smoothing: none;
  font-smooth: never;
  text-rendering: optimizeSpeed;
  -webkit-text-stroke: 0;
  font-feature-settings: "kern" 0;
  font-kerning: none;
  transform: scale(1, 1);
  image-rendering: crisp-edges;
  image-rendering: pixelated;
}
